/*@import url('http://fonts.cdnfonts.com/css/destroy');
@import url('http://fonts.cdnfonts.com/css/old-stamper');
@import url('https://fr.allfont.net/allfont.css?fonts=sportrop');
*/

@font-face {
    font-family: 'Destroy';
    font-style: normal;
    font-weight: 400;
    src: local('Destroy'), url('https://fonts.cdnfonts.com/s/111/DESTROY_.woff') format('woff');
}

@font-face {
    font-family: 'Old Stamper';
    font-style: normal;
    font-weight: 400;
    src: local('Old Stamper'), url('https://fonts.cdnfonts.com/s/331/old_stamper.woff') format('woff');
}

@font-face{
    font-family:sportrop regular;
    font-style:normal;
    font-weight:400;
    src:local('Sportrop Regular'),local('Sportrop-Regular'),url(https://www.allfont.es/cache/fonts/sportrop_f0ad1188ea12551e526340362302355b.woff) format('woff'),url(http://www.allfont.es/cache/fonts/sportrop_f0ad1188ea12551e526340362302355b.ttf) format('truetype')
}

html,body {
    height: 100%;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 20px rgb(217, 221, 223),  0 0 20px rgba(217, 221, 223, 0);
}
body {
    /*background: #0f3854;*/
    /*background: url(/images/black-dark-background.jpg);
    background-size: auto;
    background-repeat: repeat;*/
    /*background: #010203;*/
    background: radial-gradient(ellipse at center,  #242424  0%, #0e0e0e 70%);
    /*z-index: -1;
    opacity: 0.5;
    filter: alpha(opacity=50);*/
}
p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

pre {
    background-color: transparent;
    border: None;
}


.input {
    /*font-family: 'Share Tech Mono', monospace;*/
    /*font-family: 'Sportrop Regular';*/
    text-align: center;
    color: #daf6ff;
    width: 0.1px;
	height: 0.1px;
    /*width: 25vw;
    letter-spacing: 0.1em;
    font-size: 18px;*/
    overflow: hidden;
    opacity: 0;
    z-index: -1;
}
.input label {
    color: #daf6ff;
    display: inline-block;
    cursor: pointer;
    
}
.input:focus + label,
.input + label:hover {
    background-color: #6d6d6d;
}
.input + label {
    cursor: pointer;
    background-color: #454646;
    border-radius: 18px;
    padding: 10px 30px 10px 30px;
    margin: auto;
}
.input:focus + label {
	outline: 1px dotted rgb(255, 255, 255);
	outline: -webkit-focus-ring-color auto 5px;
}


.selectProg {
    /*font-family: 'Sportrop Regular';*/
    /*font-family: 'Share Tech Mono', monospace;*/
    text-align: center;
    background: #454646;
    color: #daf6ff;
    border-radius: 18px;
    padding: 10px 20px 10px 10px;
    margin: 14px auto;
}

.row1 {
    font-family: "Old Stamper";
    letter-spacing: 0.1em;
    font-size: 30px;
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}
.row2 {
    margin: 25px auto;
    font-family: "Destroy";
    letter-spacing: 0.05em;
    font-size: 30px;
    padding: 5px 0;
    color: #ffab10;
    text-shadow: 0 0 20px rgb(230, 10, 10),  0 0 20px rgba(230, 10, 10, 0);
}
.row3 {
    margin: 25px auto;
    font-family: "Sportrop Regular";
    letter-spacing: 0.05em;
    font-size: 30px;
    padding: 5px 0;
    color: #10fff3;
    text-shadow: 0 0 20px rgb(10, 230, 175),  0 0 20px rgba(10, 230, 201, 0);
}
.row4-break {
    margin: 25px auto;
    font-family: "Sportrop Regular";
    letter-spacing: 0.05em;
    font-size: 30px;
    padding: 5px 0;
    color: #ff1044;
    text-shadow: 0 0 20px rgb(230, 10, 65),  0 0 20px rgba(230, 10, 65, 0);
}
.row4-doit {
    margin: 25px auto;
    font-family: "Sportrop Regular";
    letter-spacing: 0.05em;
    font-size: 30px;
    padding: 5px 0;
    color: #10ff24;
    text-shadow: 0 0 20px rgb(10, 230, 10),  0 0 20px rgba(10, 230, 58, 0);
}
.list {
    text-align: center;
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    letter-spacing: 0.1em;
    font-size: 18px;
    font-family: "sportrop regular";
}


#main-page {
    /*width: 1388px;*/
    /*height: 100%;*/
    margin: auto;
    /*border: 1px solid #daf6ff;*/
}

#upper-content {
    width: 99%;
    /*height: 110px;*/
    /*border-bottom: 1px solid #303030;*/
}

#lower-content {
    width: 99%;
    /*border: 1px solid #daf6ff;*/
}

#footer-content {
    width: 99%;
    height: 5vh;
    clear: both;
    /*border: 1px solid #daf6ff;*/
}
#footer-content p {
    width: 99%;
    text-align: right;
}

#upper-right-content {
    /*margin: 10px auto;*/
    /*width: 25%;*/
    /*height: 110px;*/
    /*float: right;*/
    /*border: 1px solid #daf6ff;*/
}
#upper-right-content form,select {
    display:flex;
	align-items: center;
	justify-content:center;
    margin: 14px auto;
}

#upper-right-content p {
    display:flex;
	align-items: center;
	justify-content:center;
    margin: 14px auto;
}


#upper-left-content {
    /*width: 74%;*/
    cursor: pointer;
    margin: 0 0 0 0;
    /*height: 110px;*/
    /*float: left;*/
    /*border: 1px solid #daf6ff;*/
}

#lower-right-content {
    /*width: 25%;*/
    height: 77vh;
    padding: 25px 0 0 0;
    /*float: right;*/
    /*border: 1px solid #daf6ff;*/
    margin: 1px auto;
    border-left: 1px solid #303030;
    border-top: 1px solid #303030;
}

#lower-left-content {
    /*width: 70%;*/
    /*height: 77vh;*/
    /*float: left;*/
    /*border-right: 1px solid #303030;*/
    padding: 25px 0 0 50px;
    margin: 1px auto;
    border-top: 1px solid #303030;
}

/*
.mode-free {
    cursor: pointer;
    background: url(https://taducanh1605.github.io/training/images/banner_free.png);
    background-size: auto;
    background-repeat: no-repeat;
}
.mode-prime {
    cursor: pointer;
    background: url(https://taducanh1605.github.io/training/images/banner_prime.png);
    background-size: auto;
    background-repeat: no-repeat;
}
*/

/*

BUTTON

*/

#frame_button{
    width: 100%;
    margin: 25px auto;
}

#button-back{
    width: 20%;
    float: left;
}

#button-start{
    width: 35%;
    display:flex;
	align-items: center;
	justify-content:center;
    margin: auto;
}

#button-next{
    width: 20%;
    float: right;
    margin: 0 25px 0 0;
    display:flex;
	align-items: right;
	justify-content:right;
    float: right;
}

.button {
    width: 80%;
	background-color: transparent;
	border: 2px solid #2e2e2e;
	cursor: pointer;
	letter-spacing: 0.2125rem;
	line-height: 1;
	overflow: hidden;
	padding: 20px 30px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	transition: 
		background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1),
		border 1s cubic-bezier(0.19, 1, 0.22, 1),
		color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
	user-select: none;
}

.button a {
	color: #969696;
	font-family: "Varela Round";
	text-decoration: none;
	white-space: nowrap;
}

.button .mask {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.5);
	height: 100px;
	position: absolute;
	transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
	transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
	width: 200px;
}

.button .shift {
	display: inline-block;
	transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
	vertical-align: text-top;
}

.button:hover {
	background-color: rgba(255, 255, 255, 0.05);
	border-color: #fff;
	box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
}

.button:hover a {
	color: #fff;
}

.button:hover .mask {
	background-color: #fff;
	transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}

.button:hover .shift {
	transform: translateX(5px);
}

.button:active {
	background-color: #fff;
}

.button:active a {
	color: #202020;
}