/*
@import url('http://fonts.cdnfonts.com/css/destroy');
@import url('http://fonts.cdnfonts.com/css/old-stamper');
@import url('https://fr.allfont.net/allfont.css?fonts=sportrop');
*/

@font-face {
    font-family: 'Destroy';
    font-style: normal;
    font-weight: 400;
    src: local('Destroy'), 
        url('https://fonts.cdnfonts.com/s/111/DESTROY_.woff') format('woff');
}

@font-face {
    font-family: 'Old Stamper';
    font-style: normal;
    font-weight: 400;
    src: local('Old Stamper'), 
        url('https://fonts.cdnfonts.com/s/331/old_stamper.woff') format('woff');
}

@font-face{
    font-family: 'sportrop regular';
    font-style:normal;
    font-weight:400;
    src:local('Sportrop Regular'),local('Sportrop-Regular'),
        url(https://www.allfont.es/cache/fonts/sportrop_f0ad1188ea12551e526340362302355b.woff) format('woff'),
        url(https://www.allfont.es/cache/fonts/sportrop_f0ad1188ea12551e526340362302355b.ttf) format('truetype');
}

@font-face{
    font-family:capture it;
    font-style:normal;
    font-weight:400;
    src:local('Capture it'),local('Captureit-Regular'),
        url(https://allfont.ru/cache/fonts/capture-it_36d8e4bafcd0d3bd809b9d12e819982e.woff) format('woff'),
        url(https://allfont.ru/cache/fonts/capture-it_36d8e4bafcd0d3bd809b9d12e819982e.ttf) format('truetype');
}

@font-face {
    font-family: 'Armalite Rifle';
    font-style: normal;
    font-weight: 400;
    src: local('Armalite Rifle'), local('ArmaliteRifle-Regular'),
        url(https://allfont.ru/cache/fonts/armalite-rifle_8b8d0c2e30a8ddf3d87d1cff3852f649.woff) format('woff'),
        url(https://allfont.ru/cache/fonts/armalite-rifle_8b8d0c2e30a8ddf3d87d1cff3852f649.ttf) format('truetype');
}

html,body {
    width: 97.9%;
    margin: auto;
    height: 100%;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 20px rgb(217, 221, 223),  0 0 20px rgba(217, 221, 223, 0);
}
body {
    background: radial-gradient(ellipse at center,  #242424  0%, #0c0c0e 70%);
}
p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

pre {
    background-color: transparent;
    border: None;
}

.input {
    text-align: center;
    color: #daf6ff;
    width: 0.1px;
	height: 0.1px;
    opacity: 0;
    z-index: -1;
}
.input label {
    color: #daf6ff;
    display: inline-block;
    cursor: pointer;
    
}
.input:focus + label,
.input + label:hover {
    background-color: #6d6d6d;
}
.input + label {
    cursor: pointer;
    background-color: #454646;
    border-radius: 18px;
    padding: 5px 30px 5px 30px;
    margin: auto;
}
.input:focus + label {
	outline: 1px dotted rgb(255, 255, 255);
	outline: -webkit-focus-ring-color auto 5px;
}


.selectProg {
    background: #454646;
    color: #fff;
    border-radius: 18px;
    padding: 5px 0px 5px 5px;
    width: 100%;
    /*margin: 1.4rem 0.5rem 1.5rem 1.5rem;*/
}

.row1 {
    font-family: "Armalite Rifle";
    letter-spacing: 0.05em;
    /*font-size: 2.7rem;*/
    font-size: calc(20px + (28 - 20) * ((100vw - 300px) / (1200 - 300)));
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}

#frame_row2 {
    width: 100%;
	text-align:center;
    align-items: center;
    vertical-align: middle;
    
    display: -webkit-flex;    
    display: -ms-flexbox;
    display: flex;
        
    -webkit-align-items: center;    
    -ms-flex-align: center;
    align-items: center; 
}

#row2 {
    width:60%;
	float:left;
}

#button-back{
    padding: 5px 0;
    width: 24%;
    float: left;
}
#button-next{
    padding: 5px 0;
    width: 20%;
    float: right;
}

.row2 {
    margin: 2rem auto;
    font-family: "Destroy";
    font-size: calc(20px + (28 - 20) * ((100vw - 300px) / (1200 - 300)));
    padding: 12px 0 0 0;
    color: #ffab10;
    text-shadow: 0 0 20px rgb(230, 10, 10),  0 0 20px rgba(230, 10, 10, 0);
}

.row3 {
    margin: 0.5rem auto;
    font-family: "Sportrop Regular";
    letter-spacing: 0.05em;
    /*font-size: 3.5rem;*/
    font-size: calc(24px + (34 - 24) * ((100vw - 300px) / (1200 - 300)));
    padding: 5px 0;
    color: #10fff3;
    text-shadow: 0 0 20px rgb(10, 230, 175),  0 0 20px rgba(10, 230, 201, 0);
}
.row4-break {
    margin: 2rem auto;
    font-family: "Sportrop Regular";
    letter-spacing: 0.05em;
    /*font-size: 3.5rem;*/
    font-size: calc(22px + (32 - 22) * ((100vw - 300px) / (1200 - 300)));
    padding: 5px 0;
    color: #ff1044;
    text-shadow: 0 0 20px rgb(230, 10, 65),  0 0 20px rgba(230, 10, 65, 0);
}
.row4-doit {
    margin: 2rem auto;
    font-family: "Sportrop Regular";
    /*letter-spacing: 0.05em;
    font-size: 3rem;*/
    font-size: calc(22px + (32 - 22) * ((100vw - 300px) / (1200 - 300)));
    padding: 5px 0;
    color: #10ff24;
    text-shadow: 0 0 20px rgb(10, 230, 10),  0 0 20px rgba(10, 230, 58, 0);
}
#myExList {
    text-align: center;
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    letter-spacing: 0.03em;
    /*font-size: 2rem;*/
    font-size: calc(13px + (18 - 13) * ((100vw - 300px) / (1200 - 300)));
    font-family: "sportrop regular";
}

.list{
    font-family: "Armalite Rifle";
    letter-spacing: 0.05em;
    /*font-size: 2.7rem;*/
    font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1200 - 300)));
    color: #fffbda;
    text-shadow: 0 0 20px rgb(216, 221, 223),  0 0 20px rgba(185, 224, 224, 0);
}

.manual {
    font-size: calc(12px + (17 - 12) * ((100vw - 300px) / (1200 - 300)));
    text-align: left;
    margin: auto;
    width: 95%;
}

#main-page {
    width: 98%;
    /*height: 100%;*/
    margin: 0 auto;
    /*border: 1px solid #daf6ff;*/
}

#upper-content {
    /*width: 98%;*/
    margin: 0 auto;
    /*height: 110px;*/
    /*border-bottom: 1px solid #303030;*/
}

#lower-content {
    /*width: 98%;*/
    margin: 0 auto;
    /*border: 1px solid #daf6ff;*/
}

#footer-content {
    width: 98%;
    height: 1vh;
    clear: both;
    /*border: 1px solid #daf6ff;*/
}
#footer-content p {
    /*width: 98%;*/
    text-align: right;
    /*margin: 0 auto;*/
    /*float: right;*/
}

#upper-right-content {
    /*height: 110px;*/
    /*float: right;*/
    /*border: 1px solid #daf6ff;*/
}
#upper-right-content form,select {
    display:flex;
	align-items: center;
	justify-content:center;
    margin: 14px auto;
    font-size: 12.5px;
}

#upper-right-content p {
    display:flex;
	align-items: center;
	justify-content:center;
    margin: 5px auto;
}


#upper-left-content {
    cursor: pointer;
    padding: 0 0 0 0px;
}

#lower-right-content {
    height: 77vh;
    padding: 25px 0 0 0;
    margin: 1px auto;
    border-left: 1px solid #303030;
    border-top: 1px solid #303030;
    overflow-y: auto;
}

#lower-left-content {
    padding: 25px 0 0 0;
    margin: 1px auto;
    border-top: 1px solid #303030;
}

/*
.mode-free {
    cursor: pointer;
    background: url(https://taducanh1605.github.io/training/images/banner_free.png);
    background-size: auto;
    background-repeat: no-repeat;
}
.mode-prime {
    cursor: pointer;
    background: url(https://taducanh1605.github.io/training/images/banner_prime.png);
    background-size: auto;
    background-repeat: no-repeat;
}
*/

/*

BUTTON

*/

#frame_button{
    width: 98%;
    height: calc(60px + (100 - 60) * ((100vw - 300px) / (1200 - 300)));
    margin: 25px auto;
    align-items: center;
    vertical-align: middle;
    
    display: -webkit-flex;    
    display: -ms-flexbox;
    display: flex;
        
    -webkit-align-items: center;    
    -ms-flex-align: center;
    align-items: center;  
}


#button-start{
    /*width: 59%;
    float: left;*/
    margin: auto;
}
#button-start img {
    height: auto;
    width: calc(164px + (260 - 164) * ((100vw - 300px) / (1200 - 300)));
}



.button-img{
    cursor: pointer;
    margin: 0 auto;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}
.button-img:hover {
    -webkit-transform: scale(1.1) rotate(0.01deg);
    transform: scale(1.1) rotate(0.01deg);
}

.button {
	background-color: transparent;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
}

.button a {
	color: #d6da0c;
	font-family: "sportrop regular";
    letter-spacing: 0.05em;
    font-size: calc(25px + (40 - 25) * ((100vw - 300px) / (1200 - 300)));
	text-decoration: none;
	white-space: nowrap;
    text-shadow: 0 0 20px rgb(230, 226, 10),  0 0 20px rgba(226, 230, 10, 0);
}

.button:hover a {
	color: rgb(255, 251, 0);
}

.button:active a {
	color: #fff;
}