html,body {
    height: 100%;
}
body {
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
}
p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

#app {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}

.input {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    letter-spacing: 0.1em;
    font-size: 18px;
    padding: 20px 0 0;
}

.row1 {
    letter-spacing: 0.1em;
    font-size: 30px;
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}
.row2 {
    letter-spacing: 0.05em;
    font-size: 40px;
    padding: 5px 0;
    color: #10fff3;
    text-shadow: 0 0 20px rgb(10, 230, 175),  0 0 20px rgba(10, 230, 201, 0);
}
.list {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    position: fixed;
    top: 10%;
    left: 0;
    letter-spacing: 0.1em;
    font-size: 18px;
}

.back {
    background: #0f3854;
    font-family: 'Share Tech Mono', monospace;
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    text-align: center;
    position: fixed;
    top: 100%;
    right: 100%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.1em;
    font-size: 18px;
}

.start {
    background: #0f3854;
    font-family: 'Share Tech Mono', monospace;
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    text-align: center;
    position: fixed;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.1em;
    font-size: 18px;
}

.next {
    background: #0f3854;
    font-family: 'Share Tech Mono', monospace;
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    text-align: center;
    position: fixed;
    top: 100%;
    left: 100%;
    transform: translate(0%, -50%);
    letter-spacing: 0.1em;
    font-size: 18px;
}
