<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training with Njk</title>
    <link rel = "icon" href ="./images/NJKlogo.ico" type = "image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="./css/training.css"/>
    
</head>
<body>
    
    <div id="main-page">

        <div id="upper-content">

            <div id="upper-left-content">
                <form v-if="textMode === 'prime'" class="input" enctype="multipart/form-data">
                    <input class="input" type="file" @change="onFileChange">
                </form>
                <select v-if="textMode === 'free'" class="selectProg" v-model="select" name="program" @change="selectHandle">
                    <option value="">---Choose an demo program---</option>
                    <option  v-for="prog in listProg">{{prog}}</option>
                </select>
            </div>

            <div id="upper-right-content" >
                <ul class="tab">
                    <li v-bind:class="'mode-'+textMode" v-on:click="handleMode"><h1>Training with Njk"</h1></li>
                </ul>
            </div>
        </div>

        <div id="lower-content">
            <div id="lower-left-content">
                <p class="list" id="myExList">List of exercises: </p>
            </div>

            <div id="lower-right-content">
                <p class="row1">{{row1}}</p>
                <p><pre class="row2">{{row2}}</pre></p>
                <div id="button-back" v-if="exSumSet > 0"><button class="back" v-on:click="handleBack">Back</button></div>
                <div id="button-start" v-if="exSumSet > 0"><button class="start" v-on:click="handleStart" v-on:space="handleStart">{{buttonStart}}</button></div>
                <div id="button-next" v-if="exSumSet > 0"><button class="next" v-on:click="handleNext">Next</button></div>
            </div>
        </div>

        <div id="footer-content">
            <p>Made by Pika</p>
        </div>
    </div>
    <script src="./scripts/training.js"></script>
</body>
</html>
