<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training with Njk</title>
    <link rel = "icon" href ="./images/NJKlogo.ico" type = "image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/training.css"/>
    
</head>
<body>
    
    <div id="main-page">

        <div id="upper-content" class="row">

            <!---<div id="upper-left-content" v-bind:class="'mode-'+textMode" v-on:click="handleMode"></div>--->
            <div class="col-sm-9" id="upper-left-content" v-on:click="handleMode">
                <img width="100%" v-if="textMode === 'free'" src="./images/banner_free.png" class="img-responsive" alt="Change free prime">
                <img width="100%" v-if="textMode === 'prime'" src="./images/banner_prime.png" class="img-responsive" alt="Change free free">
            </div>
            

            <!---<div id="upper-right-content">--->
            <div class="col-sm-3" id="upper-right-content">   

                <form v-if="textMode === 'prime' && loaded === 0" enctype="multipart/form-data">
                    <input class="input" name="file" id="file" type="file" @change="onFileChange">
                    <label for="file">Choose your Program File</label>
                </form>

                <div class="row">

                    <div v-if="textMode === 'free' && loaded === 0" class="col-sm-6" style="padding: 0 3px 0 9px;">
                        <select  v-on:change="handleGendreLvl($event)" name="gendre_lvl" class="selectProg">
                            <option value="">Choose your level</option>
                            <optgroup label="For Male">
                                <option v-for="group in listProgMale" v-bind:value="'Male:'+group[0]">{{group[0]}}</option>
                            </optgroup>
                            <optgroup label="For Female">
                                <option v-for="group in listProgFemale" v-bind:value="'Female:'+group[0]">{{group[0]}}</option>
                            </optgroup>
                        </select>
                    </div>

                    <div v-if="(textMode === 'free') && (loaded === 0)" class="col-sm-6" style="padding: 0 2px 0 9px;" >
                        <select v-model="select" name="program" v-on:change="selectHandle(selectSex)" class="selectProg">
                            <option value="">Choose a workout</option>
                            <optgroup v-for="group in listProgMale" v-if="(group[0] === selectLvl) && (selectSex === 'Male')" v-bind:label="group[0]">
                                <option  v-for="prog in group[1]">{{prog}}</option>
                            </optgroup>
                            <optgroup v-for="group in listProgFemale" v-if="(group[0] === selectLvl) && (selectSex === 'Female')" v-bind:label="group[0]">
                                <option  v-for="prog in group[1]">{{prog}}</option>
                            </optgroup>
                        </select>
                    </div>
                    
                </div>

                <p v-if="loaded === 0" style="font-size: 13px;"><<< Or click on Banner to switch mode</p>
                <p v-if="loaded > 0" style="font-size: 13px;">Refresh page to choose an other program</p>
            </div>
            
        </div>

        <div id="lower-content" class="row">

            <div id="lower-left-content" class="col-sm-9">

                <div class="row">
                    <div class="col-sm-3"><p class="row1">{{row1_1}}</p></div>
                    <div class="col-sm-6"><p class="row1">{{row1_2}}</p></div>
                    <div class="col-sm-3"><p class="row1">{{row1_3}}</p></div>
                </div>

                <div id="frame_row2" class="row">
                    <div id="button-back" v-if="row2.length > 0" class="button" v-on:click="handleBack">
                        <a href="#"><<<<</a>
                    </div>

                    <div id="row2">
                        <p class="row2">{{row2}}</p>
                    </div>

                    <div id="button-next" v-if="row2.length > 0" class="button" v-on:click="handleNext">
                        <a href="#">>>>></a>
                    </div>
                </div>

                <p v-if="count === 0 || (flagStart === 2)" class="row3" style="white-space: pre-line">{{row3}}</p>
                <p v-if="(count > 0) && (flagStart < 2)" v-for="exer in row3_exs" class="row3" >{{exer}}</p>
                <p v-bind:class="'row4-'+textbreak">{{row4}}</p>

                <div id="frame_button" class="row">
                    <div id="button-start" v-if="exSumSet > 0" v-on:click="handleStart" v-on:space="handleStart">
                        <img v-if="buttonStart === 'Start'" src="./images/start.png" class="img-responsive button-img">
                        <img v-if="buttonStart === 'Done'" src="./images/done.png" class="img-responsive button-img">
                        <img v-if="buttonStart === 'Pause'" src="./images/pause.png" class="img-responsive button-img">
                        <img v-if="buttonStart === 'Finish'" src="./images/finish.png" class="img-responsive button-img">
                    </div>
                </div>
            </div>

            <div id="lower-right-content" class="col-sm-3" >
                <p class="list" v-if="exSumSet > 0">List of exercises: </p>
                <p class="list" v-else>User manual:</p>
                <div class="manual" v-if="exSumSet === 0">
                    <br/>
                    <dl>
                        <dt>Two modes of training:</dt>
                        <dd>- You can click on banner to change between 2 modes.</dd>
                        <dd>- At the first mode, you can select an existing exercise program.</dd>
                        <dd>- At the second mode, you can load an exercise program from CSV file.</dd>
                        <br/>
                        <dt>How to practice:</dt>
                        <dd>1. Click "Start" button to start the workout.</dd>
                        <dd>2. After finish the exercise, click "Done" button to take a break.</dd>
                        <dd>3. You can pause, skip or backward the rounds if you need.</dd>
                        <br/>
                        <dt>For each exercise:</dt>
                        <dd>- The exercises are placed in the list, you can click on them to find the movement instructions.</dd>
                        <dd>- The x10 symbol indicates that you must do 10 reps for that move.</dd>
                        <dd>- The symbol x10-5-5 indicates that you have to do 10 reps, then hold that move for 5 seconds, and finally do 5 more reps for that move.</dd>
                        <dd>- The symbol x30s indicates that you have to hold that move for 30 seconds</dd>
                        <br/>
                        <dt>For more training programs:</dt>
                        <dd>- You can contact to me to have more training programs. Then I can design a workout program for you.</dd>
                    </dl>
                </div>
                <p id="myExList"></p>
            </div>

        </div>

        <div id="footer-content" class="row">
            <p style="padding-top: 13px;"><a href="https://taducanh1605.github.io/site/" target="_blank">Copyright ©2022 | Designed by Pika</a></p>
        </div>
    </div>
    <script src="./scripts/training.js"></script>
    <script>
        const body = document.body;
        const btn = document.querySelectorAll('.button')[0];
        if(btn){
            btn.addEventListener('mouseenter', () => {
                body.classList.add('show');
            });

            btn.addEventListener('mouseleave', () => {
                body.classList.remove('show');
            });
        }
    </script>
</body>
</html>
