<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training with Njk</title>
    <link rel = "icon" href ="./images/NJKlogo.ico" type = "image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/training.css"/>
    
</head>
<body>
    
    <div id="main-page">

        <div id="upper-content" class="row">

            <!---<div id="upper-left-content" v-bind:class="'mode-'+textMode" v-on:click="handleMode"></div>--->
            <div class="col-sm-9" id="upper-left-content" v-on:click="handleMode">
                <img v-if="textMode === 'free'" src="/images/banner_free.png" class="img-responsive" alt="Change free prime">
                <img v-if="textMode === 'prime'" src="/images/banner_prime.png" class="img-responsive" alt="Change free free">
            </div>
            

            <!---<div id="upper-right-content">--->
            <div class="col-sm-3" id="upper-right-content">    
                <form v-if="textMode === 'prime'" class="input" enctype="multipart/form-data">
                    <input class="input" type="file" @change="onFileChange">
                </form>
                <select v-if="textMode === 'free'" class="selectProg" v-model="select" name="program" @change="selectHandle">
                    <option value="">---Choose an demo program---</option>
                    <option  v-for="prog in listProg">{{prog}}</option>
                </select>
                <p>Click on Banner to change mode</p>
            </div>
            
        </div>

        <div id="lower-content" class="row">

            <div id="lower-left-content" class="col-sm-9">

                <p class="row1">{{row1}}</p>
                <p><pre class="row2">{{row2}}</pre></p>
                <p><pre class="row3">{{row3}}</pre></p>

                <div id="frame_button">

                    <div id="button-back">
                        <div  v-if="exSumSet > 0" class="button" v-on:click="handleBack">
                            <a href="#">
                                Back
                                <span class="shift"></span>
                            </a>
                            <div class="mask"></div>
                        </div>
                    </div>

                    <div id="button-next">
                        <div v-if="exSumSet > 0" class="button" v-on:click="handleNext">
                            <a href="#">
                                Next
                                <span class="shift"></span>
                            </a>
                            <div class="mask"></div>
                        </div>
                    </div>

                    <div id="button-start">
                            <div  v-if="exSumSet > 0" class="button" v-on:click="handleStart" v-on:space="handleStart">
                                <a href="#">
                                    {{buttonStart}}
                                    <span class="shift"></span>
                                </a>
                                <div class="mask"></div>
                            </div>
                    </div>

                </div>
            </div>

            <div id="lower-right-content" class="col-sm-3">
                <p class="list" id="myExList">List of exercises: </p>
            </div>

        </div>

        <div id="footer-content" class="row">
            <p>Made by Pika</p>
        </div>
    </div>
    <script src="./scripts/training.js"></script>
    <script>
        const body = document.body;
        const btn = document.querySelectorAll('.button')[0];
        if(btn){
            btn.addEventListener('mouseenter', () => {
                body.classList.add('show');
            });

            btn.addEventListener('mouseleave', () => {
                body.classList.remove('show');
            });
        }
    </script>
</body>
</html>
